<launch>
    <param name= "starting_x" type= "double" value= "0.0"/>
    <param name= "starting_y" type= "double" value= "0.0"/>
    <param name= "starting_th" type= "double" value= "0.0"/>

    <param name= "/use_sim_time" value= "true"/>
    
    <node pkg= "first_project" type= "odometry_node" name= "odometry_node" output= "screen"/>

    <node pkg= "tf" type= "static_transform_publisher" name= "sick_front_left" args= "1.85 0.93 0.0 0.81 0.0 3.14 base_link sick_front_left 100"/>
    <node pkg= "tf" type= "static_transform_publisher" name= "sick_front_right" args= "1.85 -0.93 0.0 -0.76 0.0 3.14 base_link sick_front_right 100"/>
    <node pkg= "tf" type= "static_transform_publisher" name= "sick_rear_left" args= "-1.85 0.93 0.0 2.38 0.0 3.14 base_link sick_rear_left 100"/>
    <node pkg= "tf" type= "static_transform_publisher" name= "sick_rear_right" args= "-1.75 -0.93 0.0 -2.30 0.0 3.14 base_link sick_rear_right 100"/>
</launch>