<launch>
    <node pkg= "first_project" type= "odometry_node.cpp" name= "odometry_node" output= "screen">
        <param name= "starting_x" type= "double" value= "0.0"/>
        <param name= "starting_y" type= "double" value= "0.0"/>
        <param name= "starting_th" type= "double" value= "0.0"/>

        <param name= "/use_sim_time" value= "true"/>
    </node>
</launch>